.bootScreen {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  z-index: 1000;
}

.appleLogo {
  width: 80px;
  height: 80px;
  color: #fff;
}
