html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
}

.window {
  display: flex;
  width: 100%;
  height: 100%;
}

#myCanvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: #000;
}

#debugCanvas {
  display: none;
}
