.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.3);
  animation: fadeInOut 2.5s ease-in-out forwards;
}

.hadouken {
  width: 100vw;
  object-fit: contain;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
