.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

.appContainer {
  position: absolute;
  inset: 0;
  z-index: 10;
  background: #000;
  border-radius: 25px;
  overflow: hidden;
}
