/**
 * EditableDocument.module.css - Editable textarea styling
 *
 * Matches Tiger TextEdit editor area appearance.
 * Used inside TextEditChrome content area.
 */

.editor {
  width: 100%;
  height: 100%;
  min-height: 200px;
  border: none;
  outline: none;
  resize: none;
  padding: 12px 16px;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  color: #000;
  background: white;
  box-sizing: border-box;
}

/* Remove focus outline since the window itself indicates focus */
.editor:focus {
  outline: none;
}
