.preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
  user-select: none;
}

.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
